LLAMA_3_2_1B_BASE_PATH=path/to/Llama-3.2-1B
LLAMA_3_2_1B_INSTRUCT_PATH=path/to/Llama-3.2-1B-Instruct
LLAMA_3_2_1B_INSTRUCT_SAFETY_PATH=models/Llama-3.2-1B-Instruct-safety
WANDB_API_KEY=your-wandb-key
HF_TOKEN=your-hf-token
